<div class="container business-info">
        <div class="individual_business">
          <div class="col-xs-12">
            <div class="region-form">
      <h2>Edit Region</h2>

        <%= form_for(:region, url: :regional_admin_region, html: {multipart: true}, method: :put) do |f|%>

          <p><%= image_tag(@region.image) %></p>
          <p><%= f.label :name %></p>
          <div class='element'><p><%= f.text_field :name, value: @region.name %></p></div>
          <p><%= f.label :description %></p>
          <div class='element'><p color:'black'><%= f.text_area :description, value: @region.description %></p></div>

          <p><%= f.file_field :image, class: 'file-field'%></p>
      <p><%= f.submit "Save Data", class: "btn btn-success" %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
