<div class="region-data">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="region-admin">
          <h3><%= @region.name %></h3>
        <%= image_tag(@region.image) %><br><br>
        <h4><strong>Region Description</strong></h4>
        <h4><%= @region.description %></h4><br>
        <%= link_to "Edit Region Information", edit_regional_admin_region_path, class: 'edit-link', method: :get %>
      </div>
      </div>
    </div>
  </div>
</div>
<div class="business-data">
  <br>
  <h1>Regional Businesses</h1>
  <%= render  :partial => 'partials/businesses' %>
</div>
