<div class="container business-info">
  <div class="row">
    <% @businesses.each do |business| %>
      <div class="col-lg-3 col-md-5 col-sm-12">
        <div class="item">
          <%= link_to( image_tag(business.image), region_business_path(id: business.id)) %><br>
          <%= business.name %><br />
          <%= business.description %><br />
          <%= business.funding_needed %><br />
          <%= link_to "View", region_business_path(id: business.id) %><br />
        </div>
      </div>
    <% end %>
  </div>
</div>
