<div class="container business-info">
  <div class="row">
    <% @businesses.each do |business| %>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="item">
          <%= image_tag(business.image) %><br>
          <%= business.name %><br />
          <%= business.description %><br />
          <%= business.funding_needed %><br />
          <%= link_to "Show", region_business_path(id: business.id) %><br />
        </div>
      </div>
    <% end %>
  </div>
</div>
