<% items.each do |item| %>
<div class = "item" id= "<%= item.id %>">
  <div class="inner_box">
    <div class="top_box">
      <%= item.title%> <br /><br />
      <img src="<%= item.image %>" height=100><br /><br />
      <p> <%= number_to_currency(item.dec_price) %></p>
  </div><!--inner_box-->
  </div><!--topbox-->
    <div class="bottom_box">
      <%= button_to "Add to Cart", purchases_path(item.id), class: "btn" if item.retired==false%>
      <%= link_to "More", item_path(item.id), class: "btn"%><br /><br /><br />
    </div><!--bottombox-->
</div>
  <!-- will change to ERB when routes are set -->
  <%end%>
