<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="logo" href="#"><%= image_tag("lendio-small.png")%></a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to "Regions", root_path %></li>

            </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "My Cart", cart_path(@cart), class: "navbutton", id: "mycart" %></li>
          <li class="dropdown">
            <a href="/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Account <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
        <% if current_user.nil? %>
          <li><%= link_to "Login", login_path, class:'login' %></li>
        <% else %>
          <li><%= button_to "Logout", logout_path, method: "delete", class: 'logout'%><li>
        <% end %>
        <li><%= link_to "Home", root_path , class: "navbutton"%><li>
        <li><%= link_to "My Account", user_path(current_user), class: "navbutton" if current_user %><li>
        <li><%= link_to "Categories", categories_path, class: "navbutton" %><li>
        <li><%= link_to "My Cart", cart_path(@cart), class: "navbutton", id: "mycart" %><li>
        </li>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
