<%= link_to "Completed Orders", admin_orders_completed_path %>
<%= link_to "Ordered Orders", admin_orders_ordered_path %>
<%= link_to "Paid Orders", admin_orders_paid_path %>
<%= link_to "Cancelled Orders", admin_orders_cancelled_path %>
<h2>Paid</h2><br />
<% @paid_orders.each do |paid| %>
<%= link_to "Order# #{paid.id}", admin_order_path(paid.id) %><br />
<% end %>
<%= "Total Paid Orders: #{@paid_orders.size}" %><br /><br />

<h2>Completed</h2><br />
<% @completed_orders.each do |completed| %>
<%= link_to "Order# #{completed.id}", admin_order_path(completed.id) %><br />
<% end %>
<%= "Total Completed Orders: #{@completed_orders.size}" %><br /><br />
<h2>Ordered</h2><br />
<% @ordered_orders.each do |ordered| %>
<%= link_to "Order# #{ordered.id}", admin_order_path(ordered.id) %><br />
<% end %>
<%= "Total Ordered Orders: #{@ordered_orders.size}" %><br /><br />

<h2>Cancelled</h2><br />
<% @cancelled_orders.each do |cancelled| %>
<%= link_to "Order# #{cancelled.id}", admin_order_path(cancelled.id) %><br />
<% end %>
<%= "Total Cancelled Orders: #{@cancelled_orders.size}" %><br /><br />
