<h2>Order# <%= @order.id %></h2>
<%= @order.created_at %>
<%= @order.user.first_name %> <%= @order.user.last_name %> <%= @order.user.email %>
<br />
<% @order.items.each do |item| %>
  <%= link_to "#{item.title}", item_path(item)  %><br />
  Quantity: <%= Purchase.find_by(item_id: item.id, order_id: @order.id).quantity %><br />
  Price: <%= item.price %><br />
  Subtotal: <%= item.price * Purchase.find_by(item_id: item.id, order_id: @order.id).quantity %><br /><br />
<% end %><br />
Order Total: <%= @order.total %><br />
Status: <%= @order.status %><br />
<%= form_for([:admin, @order]) do |f| %>
  Status: <%= select("order", "status", Order.statuses) %>
  <%= f.submit "Update Status" %>
<% end %>
