<div class="container business-info">
        <div class="individual_business">
          <h1><%= @business.name %></h1><br>
          <%= image_tag(@business.image) %><br>
          <%= @business.description %><br />
          <%= @business.funding_needed %><br />
          <%= render partial: 'partials/lend' %>
        </div>
      </div>
  </div>
