<h1>My Past Orders </h1>
<% current_user.orders.each do |order|%>
Order # <%= order.id %> <%= order.created_at %><br />
<%= order.status %> at <%= order.updated_at %><br />
<% order.items.each do |item|  %>
<br />
 <%= link_to "#{item.title}", item_path(item) %><br>
 Price: <%= item.price %><br>
 Quantity: <%= order.purchases.find_by(item_id: item.id).quantity %><br>
<br>
<% end %>
 Total: <%= order.total %><br /><br />
<% end %>
