<h1>My Past Orders </h1>
<% current_user.orders.each do |order|%>
<%= order.created_at %><br />
<%= order.status %> at <%= order.updated_at %><br />
<% order.items.each do |item|  %>
 Title: <%= item.title %><br>
 Price: <%= item.price %><br>
 Quantity: <%= order.purchases.last.quantity %><br>
 <!-- not sure if above line actually gives accurate quantity, use id instead of last? -->
 <%= link_to "Description", item_path(item) %><br><br>
<% end %>
<!-- Order Total: <%= @cart.total_price %> -->
<% end %>
