<h1><%= @category.name %></h1>
<% @category.items.each do |item| %>
  <%= item.title %><br />
<img src="<%= item.image %>" height=100><br />
  <%= item.description %><br />
  <%= item.price %><br />

<% end %>
<br />
<%= link_to "Delete Category", admin_category_path(@category), method: "delete" %>
