<div class='container'>
  <div class='row'>
    <div class='col-md-6 col-md-offset-3 text-center'>
      <h3>Prospects</h3>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-6 col-md-offset-3 text-center'>
      <table class='table'>
        <tr>
          <td><strong>Business</strong></td>
          <td><strong>Subtotal</strong></td>
          <td><strong>Increase</strong></td>
          <td><strong>Decrease</strong></td>
          <td><strong>Remove Prospect</strong></td>
        </tr>
        <% @prospects_info.each do |prospect| %>
        <tr>
          <div class='prospect'>
            <td><%= link_to "#{prospect.business.name}", region_business_path(region: prospect.business.region_id, id: prospect.business.id) %></td>
            <td><%= number_to_currency(prospect.amount/100) %></td>
            <td>
              <%= button_to "+", prospect_path(id: prospect.business.id, change: 'add'), class: 'btn btn-danger', method: :put %>
            </td>
            <td>
              <%= button_to "-", prospect_path(id: prospect.business.id, change: 'subtract'), class: 'btn btn-danger', method: :put %>
            </td>
            <td>
              <%= button_to "remove", prospect_path(id: prospect.business.id, change: 'remove'), class: 'btn btn-danger', method: :put %>
            </td>
            <td class="element" data-business-id= "<%= prospect.business.id  %>" >
              <%= text_field_tag :data, nil, class: 'update-box' %>
            </td>
          </div>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
<% if logged_in? && prospects? %>
  <%= button_to "Confirm Investment", investments_path, class: 'btn btn-success' %>
<% elsif logged_in? %>
  <p>
    <em>You have no current prospects.</em>
  </p>
<% else %>
  <p>
    <em>Please log in to invest.</em>
  </p>
<% end %>
