<div class='container'>
  <div class='row'>
    <div class='col-md-6 col-md-offset-3 text-center'>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-6 col-md-offset-3 text-center'>
      <div class="region-admin-table">
      <h3>Regional Businesses</h3>
      <table class='table'>
        <tr>
          <td><strong><p>Name</p></strong></td>
          <td><strong><p>Funding Needed</p></strong></td>
          <td><strong><p>Funding To Date</p></strong></td>
          <td><strong><p>Edit Information</p></strong></td>
          <td><strong><p>Delete Business</p></strong></td>
        </tr>
        <% @businesses.each do |business| %>
        <tr>
          <div class='prospect'>
            <td>
              <p><%= business.name %></p>
            </td>
            <td>
              <p><%= number_to_currency(business.funding_needed/100) %></p>
            </td>
            <td>
              <p><%= number_to_currency(business.funding_to_date/100) %></p>
            </td>
            <td>
              <%= button_to "Edit", root_path, class: 'btn btn-success', method: :get %>
            </td>
            <td>
              <%= button_to "Delete", regional_admin_business_path(id: business.id), class: 'btn btn-success', method: :delete %>
            </td>
          </div>
        </tr>
        <% end %>
      </table>
    </div>
    </div>
  </div>
</div>
