<!DOCTYPE html>
<html lang="en">
<head>
  <%= favicon_link_tag 'favicon.ico' %>

  <title>Lend.io</title>
  <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  </head>
  <body>
    <%= render :partial => 'partials/navbar' %>
    <%= render 'partials/notices' %>

    <div>
      <%= yield %>
    </div>
<!-- footer -->
    <div id="wrapper">
    <div id="footer">
      <h4><strong>Lend.io</strong></h4>
      <p>Denver, CO</p>
      <p>About Us</p>
    </div>
    </div>

    <div class="all-modals">
      <% if logged_in? %>
        <%= render :partial => 'partials/new_regional_admin_modal' %>
      <% else %>
        <%= render :partial => 'partials/modal_login' %>
        <%= render :partial => 'partials/new_user_modal' %>
      <% end %>
    </div>
  </body>
</html>
