<!DOCTYPE html>
<html lang="en">
<head>
  <%= favicon_link_tag 'favicon.ico' %>

  <title>Lend.io</title>
  <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  </head>
  <body>
    <%= render :partial => 'partials/navbar' %>



    <div class="flash">
    <% if current_user && current_user.admin? %>
      <%= link_to "Admin Dashboard", admin_path(current_user)  %>
    <% end %>
    <% flash.each do |name, msg| %>
     <%= content_tag :div, msg, :id => "flash_#{name}", class:'error' %><br />
     <% unless msg.blank? %><img src = "http://images6.fanpop.com/image/photos/36500000/Natasha1830-image-natasha1830-36529271-474-500.gif" height=150 ><% end %>

    <% end %>

    <%= yield %>
  </div>
<!-- footer -->
  <div id="wrapper">
    <div id="footer">
      <h4><strong>Lend.io</strong></h4>
      <p>Denver, CO</p>
      <p>About Us</p>
    </div><!-- #footer -->
  </div><!-- #wrapper -->

  </body>
</html>
